services:
  app:
    build: .
    container_name: multiagent-rag-app
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - qdrant
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./docs:/app/docs:ro
    networks:
      - rag-net

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
      - "6334:6334"
#    volumes:
#      - ./qdrant_storage:/qdrant/storage
    environment:
      # Qdrant api key is ptional in local dev, it should be added to .env in production
      QDRANT__SERVICE__API_KEY: null
    networks:
      - rag-net

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - rag-net

networks:
  rag-net:
    driver: bridge
